// COLORS
$mainColor: #e7d34a;
$textColor: #444;

// MIXINS
@mixin grid_center {
	display: grid;
	place-content: center;
}

@mixin mobile {
	@media (max-width: 991px) {
		@content;
	}
}
@mixin tablet {
	@media (min-width: 768px) {
		@content;
	}
}
